################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhyGen.API/appsettings.Development.json
/PhyGen.API/appsettings.json
