<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1b6f2a0a-bed1-422c-81b1-2aa12486f1ab/resourceGroups/phy-gen-group/providers/Microsoft.ContainerRegistry/registries/phygen</ResourceId>
    <ResourceName>phygen</ResourceName>
    <ResourceGroup>phy-gen-group</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://phygen.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0ee0f09-3d22-4467-80bb-ba5471f40776</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>